* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.header {
    width: 100%;
    background-color: aqua;
    display: flex;
}

.img1 {
    width: 10%;
}

.img1 img {
    width: 100%;
}

.navbar {
    width: 90%;
    display: flex;
    align-items: center;
}

.navbar li {
    list-style-type: none;
    padding-left: 120px;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    color: azure;
    background-color: black;
    font-size: 20px;
}

.background {
    background-image: url(./image/homepage-d-2021.jpeg);
    width: 100%;
    height: 400px;
    

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.background-text {
    text-align: center;
    padding-top: 280px;
}

.background-text a {
    color: beige;
    text-decoration: none;
    padding-left: 10px;
}

.background-text a:hover {
    text-decoration: underline;
}

.background-search input {
    width: 20%;
    height: 40px;
}

.background-search button {
    width: 100px;
    height: 40px;
}

.background-nav {
    margin-top: 20px;
}

.car {
    background-color: white;
}

.car1 {
    width: 20%;
    border: solid;
    /* border-radius: 25px; */
}

.car1 img {
    width: 100%;
}

.car-footer {
    background-color: rgb(232, 226, 226);
}

.car h1,
h5 {
    margin-left: 147px;
    padding-top: 10px;
}

.car123 {
    display: flex;
}

.car hr {
    width: 80%;
    margin-left: 149px;

}

.car1 {
    margin-left: 150px;
    margin-top: 20px;
}

.car1 h3,
p {
    padding-left: 30px;
    padding-top: 10px;
}

p {
    display: inline;
}

.car1 button {
    background-color: blue;
    color: white;
    margin-top: 10px;
    margin-left: 30px;
    width: 75%;
    height: 40px;
    margin-bottom: 10px;
}

.car-footer a {
    color: white;
    text-decoration: none;
}

.car-footer a:hover {
    text-decoration: underline;
}

.many-car {
    width: 100%;
    background-color: white;
}

.car11 {
    width: 12%;
    border: solid;
    margin-left: 156px;
}

.car11 img {
    width: 100%;
}

.car111 {
    display: flex;
    padding-top: 20px;
}

.many-car h1 {
    margin-left: 147px;
    padding-top: 10px;
}

.car-footer1 {
    background-color: rgb(232, 226, 226);
}

.many-car h3 {
    margin-left: 10px;
}

.many-car p {
    margin-left: -18px;
}

.car111 button {
    margin-left: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: blue;
}

.car111 a {
    color: white;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.car11 a:hover {
    text-decoration: underline;
}

.many-car hr {
    width: 80%;
    margin-left: 149px;
}

.logo {
    width: 100%;
    background-color: gray;
}

.logo-table {
    width: 79%;
    margin-left: 148px;
    background-color: white;
}

.logo h1 {
    margin-left: 148px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.last-image {
    width: 100%;
    height: 450px;
    background-image: url(./image/get-final-price-banner.jpeg);
}

.heading-1 {
    margin-left: 760px;
    padding-top: 180px;
}

.pp {
    margin-left: -29px;
}

.pp:hover {
    text-decoration: underline;
    color: blue;
}

.heading-1 input {
    width: 30%;
    height: 32px;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer {
    width: 100%;
    background-color: rgb(19 19 167);
    ;
}

.footer-1 {
    display: flex;
}

.footer-1 div {
    padding-left: 172px;
    padding-top: 15px;
}

.footer-1 a {
    color: white;
    text-decoration: none;
}

.footer-1 a:hover {
    text-decoration: underline;
}

.footer hr {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer-2 {
    display: flex;
}

.footer-2 h4 {
    margin-left: 27px;
    color: white;
}

.social-media i {
    font-size: 46px;
    padding-top: 10px;
    color: white;

    margin-left: 26px;
}

.footer-2-1 {
    margin-left: 143px;
}

.Download-Mobile-App p {
    padding-left: 1px;
}

.mobileApp {
    display: flex;
    padding-top: 10px;
}

.app1 {
    width: 20%;
}

.app2 {
    width: 20%;
}

.footer-2-2 {
    padding-left: 413px;

}

.footer-2-2 p {
    color: white;
}

.social-media {
    width: 102%;
}


@media (max-width:720px) {
    .footer {
        width: 100%;
        background-color: brown;
    }

    .footer-2 h4 {
        color: rgb(90, 175, 90);
        margin-left: -139px;
    }

    .social-media {
        display: flex;
        margin-left: -165px;
    }

    .footer-2-2 {
        padding-left: 53px;

    }

    .app1 {
        width: 40%;
    }

    .app2 {
        width: 40%;
    }

    .footer-1 div {
        padding-left: 25px;
        padding-top: 11px;
    }

    .last-image {
        width: 100%;
        height: 450px;
        /* background-image: url(./image/get-final-price-banner.jpeg);    */
        background-color: yellow;
    }

    .heading-1 {
        margin-left: 73px;
        padding-top: 267px;
    }

    .heading-1 h1 {
        margin-left: 100px;
    }

    .pp {
        margin-left: 76px;
    }

    .pp:hover {
        text-decoration: underline;
        color: blue;
    }

    .heading-1 input {
        width: 37%;
        height: 32px;
        margin-left: 105px;
    }

    .logo {
        width: 100%;
        background-color: gray;
    }

    .logo-table {
        width: 79%;
        margin-left: 23px;
        background-color: white;
    }

    .logo h1 {
        margin-left: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .many-car h1 {
        margin-left: 5px;
        padding-top: 10px;
    }

    .car-footer1 {
        background-color: rgb(232, 226, 226);
    }

    .many-car h3 {
        margin-left: 10px;
    }

    .many-car p {
        margin-left: 4px;
    }

    .many-car {
        width: 100%;
    }

    .car11 {
        width: 18%;
        border: solid;
        margin-left: 18px;
    }

    .car11 img {
        width: 100%;
    }

    .many-car hr {
        margin-left: 10px;
    }

    .car1 {
        width: 26%;
        border: solid;
    }

    .car1 img {
        width: 100%;
    }

    .car-footer {
        background-color: rgb(232, 226, 226);
        height: 155px;
    }

    .car h1,
    h5 {
        margin-left: 6px;
        padding-top: 10px;
    }

    .car123 {
        display: flex;
    }

    .car hr {
        width: 80%;
        margin-left: 7px;

    }

    .car1 {
        margin-left: 7px;
        margin-top: 20px;
    }

    .car1 h3,
    p {
        padding-left: 6px;
        padding-top: 10px;
    }

    p {
        display: inline;
    }

    .car1 button {
        background-color: blue;
        color: white;
        margin-top: 10px;
        margin-left: 19px;
        width: 75%;
        height: 47px;
        margin-bottom: 10px;
    }

    .car-footer a {
        color: white;
        text-decoration: none;
    }

    .background-text {
        text-align: center;
        padding-top: 280px;
    }

    .background-text a {
        color: beige;
        text-decoration: none;
        padding-left: 10px;
    }

    .background-text a:hover {
        text-decoration: underline;
    }

    .background-search input {
        width: 20%;
        height: 40px;
    }

    .background-search button {
        width: 100px;
        height: 40px;
    }

    .background-nav {
        margin-top: 20px;
    }

    .background {
        background-image: url(./image/homepage-d-2021.jpeg);
        width: 100%;
        height: 400px;
    }

    .header {
        width: 100%;
        background-color: aqua;
        display: flex;
    }

    .img1 {
        width: 10%;
    }

    .img1 img {
        width: 100%;
    }

    .navbar {
        width: 90%;
        display: flex;
        align-items: center;
    }

    .navbar li {
        list-style-type: none;
        padding-left: 20px;
    }


    .navbar li {
        display: block;
    }

}